.ProjectItem {
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid #dcdcdc;
  background-color: #dcdcdc;
  padding: 1em;
  border-radius: 45px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.ProjectItem a {
  text-decoration: none;
  font-size: x-large;
  color: black;
}
