.ResumeItems {
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.ResumeItemColumn {
  padding: 0 10px;
}

.ResumeItemColumn h2 {
  text-align: center;
}

@media (max-width: 1199px) {
  .ResumeItems {
    display: inline;
  }
}
