.SkillsItems {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 20px;
  background: rgba(75, 75, 75, 0.3);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.SkillsItems span {
  padding: 10px;
  border: 2px solid #c0c0c0;
  margin: 6px;
  display: inline-block;
  background: rgba(75, 75, 75, 0.6);
  border-radius: inherit;
}

@media (max-width: 499px) {
  .SkillsItems span {
    font-size: 0.7em;
  }
}
